In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
df = pd.read_csv('data_movies.csv')

In [3]:
df

,title,imdb_id,overview,genres,cast,director,vote_average,vote_count,imdb_rating,imdb_votes
0,Ariel,tt0094675,A Finnish man goes to the city to find a job a...,"Comedy, Drama, Romance, Crime","Eetu Hilkamo, Turo Pajala, Jorma Markkula, Han...",Aki Kaurismäki,7.100,340.0,7.4,9011.0
1,Shadows in Paradise,tt0092149,"Nikander, a rubbish collector and would-be ent...","Comedy, Drama, Romance","Haije Alanoja, Aki Kaurismäki, Jukka-Pekka Pal...",Aki Kaurismäki,7.300,403.0,7.5,7807.0
2,Four Rooms,tt0113101,It's Ted the Bellhop's first night on the job....,Comedy,"Lana McKissack, Kathy Griffin, Madonna, Marisa...","Robert Rodriguez, Allison Anders, Alexandre Ro...",5.858,2672.0,6.7,113599.0
3,Judgment Night,tt0107286,"Four young friends, while taking a shortcut en...","Action, Crime, Thriller","Stephen Dorff, Everlast, Will Zahrn, Emilio Es...",Stephen Hopkins,6.500,333.0,6.6,19707.0
4,Star Wars,tt0076759,Princess Leia is captured and held hostage by ...,"Adventure, Action, Science Fiction","Alf Mangan, Grant McCune, Angela Staines, Tiff...",George Lucas,8.200,20921.0,8.6,1496224.0
...,...,...,...,...,...,...,...,...,...,...
311408,Mr. & Mrs. Desai,tt35967492,"A dysfunctional couple, two bizarre Wi-Fi expe...",Comedy,"Abel Ajesh Joseph, Mohammed Zamrood, Christeen...",Rahul Nair,0.000,0.0,7.0,10.0
311409,Against The Current,tt14463640,Native American teen activist 17-year-old Daun...,Documentary,"JuRay Cook, Sidnee Galvin, Shelby Webster, Rod...",Daunnette Moniz-Reyome,0.000,0.0,7.2,6.0
311410,Still Here,tt3640150,Two strangers receive test results from the ho...,Drama,"Annie McCain Engman, Nelson Delrosario, Marco ...",Ethan Rains,0.000,0.0,7.5,17.0
311411,Masked Maniac vs. the Zombies,tt3499300,You've seen many movies about how the average ...,Horror,"Sarah-Joy Goode, G. Hunter, Danielle Kentner, ...",CJ Hutchinson,0.000,0.0,5.0,11.0
311412,Under the Whistle of Bullets,tt0237576,Civil war. Residents of the Ukrainian village ...,Drama,"Les Serdyuk, Viktor Stepanenko, Leonid Yanovsk...",Borys Shylenko,0.000,0.0,5.0,10.0

#### Our objective is to relate movies by their content, for this we'll use 2 (maybe 4) features: 'overview' and 'genre' (and maybe 'director' and 'cast', we'll try both combinations)

In [4]:
def get_overview(text):
    return text.split(" ")


def get_names(text):
    L = list()
    aux = text.split(", ")
    for director in aux:
        L.append(director.replace(" ","_"))
    return L

In [5]:
df['overview'] = df['overview'].apply(get_overview)
df['director'] = df['director'].apply(get_names)
df['cast'] = df['cast'].apply(get_names)
df['genres'] = df['genres'].apply(get_names)

In [6]:
df

,title,imdb_id,overview,genres,cast,director,vote_average,vote_count,imdb_rating,imdb_votes
0,Ariel,tt0094675,"[A, Finnish, man, goes, to, the, city, to, fin...","[Comedy, Drama, Romance, Crime]","[Eetu_Hilkamo, Turo_Pajala, Jorma_Markkula, Ha...",[Aki_Kaurismäki],7.100,340.0,7.4,9011.0
1,Shadows in Paradise,tt0092149,"[Nikander,, a, rubbish, collector, and, would-...","[Comedy, Drama, Romance]","[Haije_Alanoja, Aki_Kaurismäki, Jukka-Pekka_Pa...",[Aki_Kaurismäki],7.300,403.0,7.5,7807.0
2,Four Rooms,tt0113101,"[It's, Ted, the, Bellhop's, first, night, on, ...",[Comedy],"[Lana_McKissack, Kathy_Griffin, Madonna, Maris...","[Robert_Rodriguez, Allison_Anders, Alexandre_R...",5.858,2672.0,6.7,113599.0
3,Judgment Night,tt0107286,"[Four, young, friends,, while, taking, a, shor...","[Action, Crime, Thriller]","[Stephen_Dorff, Everlast, Will_Zahrn, Emilio_E...",[Stephen_Hopkins],6.500,333.0,6.6,19707.0
4,Star Wars,tt0076759,"[Princess, Leia, is, captured, and, held, host...","[Adventure, Action, Science_Fiction]","[Alf_Mangan, Grant_McCune, Angela_Staines, Tif...",[George_Lucas],8.200,20921.0,8.6,1496224.0
...,...,...,...,...,...,...,...,...,...,...
311408,Mr. & Mrs. Desai,tt35967492,"[A, dysfunctional, couple,, two, bizarre, Wi-F...",[Comedy],"[Abel_Ajesh_Joseph, Mohammed_Zamrood, Christee...",[Rahul_Nair],0.000,0.0,7.0,10.0
311409,Against The Current,tt14463640,"[Native, American, teen, activist, 17-year-old...",[Documentary],"[JuRay_Cook, Sidnee_Galvin, Shelby_Webster, Ro...",[Daunnette_Moniz-Reyome],0.000,0.0,7.2,6.0
311410,Still Here,tt3640150,"[Two, strangers, receive, test, results, from,...",[Drama],"[Annie_McCain_Engman, Nelson_Delrosario, Marco...",[Ethan_Rains],0.000,0.0,7.5,17.0
311411,Masked Maniac vs. the Zombies,tt3499300,"[You've, seen, many, movies, about, how, the, ...",[Horror],"[Sarah-Joy_Goode, G._Hunter, Danielle_Kentner,...",[CJ_Hutchinson],0.000,0.0,5.0,11.0
311412,Under the Whistle of Bullets,tt0237576,"[Civil, war., Residents, of, the, Ukrainian, v...",[Drama],"[Les_Serdyuk, Viktor_Stepanenko, Leonid_Yanovs...",[Borys_Shylenko],0.000,0.0,5.0,10.0

In [7]:
df['features'] = df['overview']+ df['director'] + df['cast']+ df['genres']

In [8]:
new_df = df[['title', 'imdb_id']]
new_df['features'] = df['features'].apply(lambda x : " ".join(x)).apply(lambda y : y.lower())

C:\Users\gusti\AppData\Local\Temp\ipykernel_13260\1190658688.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['features'] = df['features'].apply(lambda x : " ".join(x)).apply(lambda y : y.lower())

In [9]:
new_df

,title,imdb_id,features
0,Ariel,tt0094675,a finnish man goes to the city to find a job a...
1,Shadows in Paradise,tt0092149,"nikander, a rubbish collector and would-be ent..."
2,Four Rooms,tt0113101,it's ted the bellhop's first night on the job....
3,Judgment Night,tt0107286,"four young friends, while taking a shortcut en..."
4,Star Wars,tt0076759,princess leia is captured and held hostage by ...
...,...,...,...
311408,Mr. & Mrs. Desai,tt35967492,"a dysfunctional couple, two bizarre wi-fi expe..."
311409,Against The Current,tt14463640,native american teen activist 17-year-old daun...
311410,Still Here,tt3640150,two strangers receive test results from the ho...
311411,Masked Maniac vs. the Zombies,tt3499300,you've seen many movies about how the average ...
311412,Under the Whistle of Bullets,tt0237576,civil war. residents of the ukrainian village ...

Let us apply the Porter Stemmer transformation to the features column to then apply cosine similarity metric

In [10]:
import nltk
from nltk.stem import PorterStemmer

In [11]:
ps = PorterStemmer()

In [12]:
def stems(text):
    L = list()
    for i in text.split():
        L.append(ps.stem(i))
    return " ".join(L)

In [13]:
new_df['features'] = new_df['features'].apply(stems)

C:\Users\gusti\AppData\Local\Temp\ipykernel_13260\1941827768.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['features'] = new_df['features'].apply(stems)

In [14]:
new_df

,title,imdb_id,features
0,Ariel,tt0094675,a finnish man goe to the citi to find a job af...
1,Shadows in Paradise,tt0092149,"nikander, a rubbish collector and would-b entr..."
2,Four Rooms,tt0113101,it' ted the bellhop' first night on the job......
3,Judgment Night,tt0107286,"four young friends, while take a shortcut en r..."
4,Star Wars,tt0076759,princess leia is captur and held hostag by the...
...,...,...,...
311408,Mr. & Mrs. Desai,tt35967492,"a dysfunct couple, two bizarr wi-fi experts, a..."
311409,Against The Current,tt14463640,nativ american teen activist 17-year-old daunn...
311410,Still Here,tt3640150,two stranger receiv test result from the hospi...
311411,Masked Maniac vs. the Zombies,tt3499300,you'v seen mani movi about how the averag joe ...
311412,Under the Whistle of Bullets,tt0237576,civil war. resid of the ukrainian villag of os...

In [ ]:
# Last step took a lot of time, so I'll save in another csv, and keep going from here tomorrow
# new_df.to_csv('post_stems_data.csv')
# new_df = pd.read_csv('post_stems_data.csv')

Now we can study the 'features' column to find similarity between movies

In [15]:
from sklearn.feature_extraction.text import CountVectorizer
#cv1 = CountVectorizer(max_features=10,stop_words='english')
#cv2 = CountVectorizer(max_features=1000,stop_words='english')
#cv3 = CountVectorizer(max_features=2500,stop_words='english')
cv4 = CountVectorizer(max_features=5000,stop_words='english')
#cv5 = CountVectorizer(max_features=10000,stop_words='english')

In [16]:
#vector1 = cv1.fit_transform(new_df['features']).toarray()
#vector2 = cv2.fit_transform(new_df['features']).toarray()
#vector3 = cv3.fit_transform(new_df['features']).toarray()
vector4 = cv4.fit_transform(new_df['features']).toarray()
#vector5 = cv5.fit_transform(new_df['features']).toarray()

In [25]:
from sklearn.metrics.pairwise import cosine_similarity

In [27]:
similarity = cosine_similarity(vector4)

MemoryError: Unable to allocate 723. GiB for an array with shape (311413, 311413) and data type float64

## It seems the dataset is too big, I'll need a smaller one... or a bigger computer LOL