In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
df = pd.read_csv('data_movies.csv')

In [3]:
df_ft = df.sort_values(by = ['vote_count','vote_average','imdb_votes','imdb_rating'], ascending = False).head(10000)

In [4]:
df_ft

,title,imdb_id,overview,genres,cast,director,vote_average,vote_count,imdb_rating,imdb_votes
15024,Inception,tt1375666,"Cobb, a skilled thief who commits corporate es...","Action, Science Fiction, Adventure","Joseph Gordon-Levitt, Tai-Li Lee, Marc Raducci...",Christopher Nolan,8.369,37116.0,8.8,2657497.0
76969,Interstellar,tt0816692,The adventures of a group of explorers who mak...,"Adventure, Drama, Science Fiction","Francis X. McCarthy, William Devane, Topher Gr...",Christopher Nolan,8.500,36629.0,8.7,2298070.0
113,The Dark Knight,tt0468569,Batman raises the stakes in his war on crime. ...,"Drama, Action, Crime, Thriller","Jennifer Knox, David Fultz, Sarah Jayne Dunn, ...",Christopher Nolan,8.500,33487.0,9.0,2990339.0
11177,Avatar,tt0499549,"In the 22nd century, a paraplegic Marine is di...","Action, Adventure, Fantasy, Science Fiction","Peter Mensah, Jodie Landau, Christopher Nolen,...",James Cameron,7.600,31969.0,7.9,1422440.0
124984,Deadpool,tt1431045,The origin story of former Special Forces oper...,"Action, Adventure, Comedy","Isaac C. Singleton, Jr., Michael Neumeyer, Dav...",Tim Miller,7.623,31339.0,8.0,1194410.0
...,...,...,...,...,...,...,...,...,...,...
71720,Silent Night,tt2347497,As their small Midwestern town prepares for it...,"Comedy, Horror, Thriller, Mystery","Ellen Wong, Raychell Ruff, Lisa Marie, Adriana...",Steven C. Miller,5.200,303.0,5.2,9969.0
2307,Shriek If You Know What I Did Last Friday the ...,tt0212235,"In this horror parody, a masked serial killer ...",Comedy,"Julie Benz, Mink Stole, Simon Rex, Khrystyne H...",John Blanchard,4.700,303.0,4.0,11797.0
7585,The Master of Disguise,tt0295427,After the patriarch of the Disguisey family is...,"Comedy, Family, Fantasy","Kevin Nealon, Patricia De Leon, Michael Lee Ph...",Perry Andelin Blake,3.972,303.0,3.4,28009.0
27346,Scooby-Doo! Camp Scare,tt1731767,Scooby and the gang experience outdoor fun as ...,"Animation, Comedy, Family, Mystery","Mindy Cohn, Mark Hamill, Frank Welker, Phil La...",Ethan Spaulding,7.838,302.0,7.2,4965.0
183278,The Game Changers,tt7455754,From the UFC Octagon in Las Vegas and the anth...,Documentary,"Rip Esselstyn, Arnold Schwarzenegger, Tia Blan...",Louie Psihoyos,7.300,302.0,7.8,22296.0

In [5]:
def get_overview(text):
    return text.split(" ")


def get_names(text):
    L = list()
    aux = text.split(", ")
    for director in aux:
        L.append(director.replace(" ","_"))
    return L

In [6]:
df_ft['overview'] = df_ft['overview'].apply(get_overview)
df_ft['director'] = df_ft['director'].apply(get_names)
df_ft['cast'] = df_ft['cast'].apply(get_names)
df_ft['genres'] = df_ft['genres'].apply(get_names)

In [7]:
df_ft

,title,imdb_id,overview,genres,cast,director,vote_average,vote_count,imdb_rating,imdb_votes
15024,Inception,tt1375666,"[Cobb,, a, skilled, thief, who, commits, corpo...","[Action, Science_Fiction, Adventure]","[Joseph_Gordon-Levitt, Tai-Li_Lee, Marc_Raducc...",[Christopher_Nolan],8.369,37116.0,8.8,2657497.0
76969,Interstellar,tt0816692,"[The, adventures, of, a, group, of, explorers,...","[Adventure, Drama, Science_Fiction]","[Francis_X._McCarthy, William_Devane, Topher_G...",[Christopher_Nolan],8.500,36629.0,8.7,2298070.0
113,The Dark Knight,tt0468569,"[Batman, raises, the, stakes, in, his, war, on...","[Drama, Action, Crime, Thriller]","[Jennifer_Knox, David_Fultz, Sarah_Jayne_Dunn,...",[Christopher_Nolan],8.500,33487.0,9.0,2990339.0
11177,Avatar,tt0499549,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science_Fiction]","[Peter_Mensah, Jodie_Landau, Christopher_Nolen...",[James_Cameron],7.600,31969.0,7.9,1422440.0
124984,Deadpool,tt1431045,"[The, origin, story, of, former, Special, Forc...","[Action, Adventure, Comedy]","[Isaac_C._Singleton, Jr., Michael_Neumeyer, Da...",[Tim_Miller],7.623,31339.0,8.0,1194410.0
...,...,...,...,...,...,...,...,...,...,...
71720,Silent Night,tt2347497,"[As, their, small, Midwestern, town, prepares,...","[Comedy, Horror, Thriller, Mystery]","[Ellen_Wong, Raychell_Ruff, Lisa_Marie, Adrian...",[Steven_C._Miller],5.200,303.0,5.2,9969.0
2307,Shriek If You Know What I Did Last Friday the ...,tt0212235,"[In, this, horror, parody,, a, masked, serial,...",[Comedy],"[Julie_Benz, Mink_Stole, Simon_Rex, Khrystyne_...",[John_Blanchard],4.700,303.0,4.0,11797.0
7585,The Master of Disguise,tt0295427,"[After, the, patriarch, of, the, Disguisey, fa...","[Comedy, Family, Fantasy]","[Kevin_Nealon, Patricia_De_Leon, Michael_Lee_P...",[Perry_Andelin_Blake],3.972,303.0,3.4,28009.0
27346,Scooby-Doo! Camp Scare,tt1731767,"[Scooby, and, the, gang, experience, outdoor, ...","[Animation, Comedy, Family, Mystery]","[Mindy_Cohn, Mark_Hamill, Frank_Welker, Phil_L...",[Ethan_Spaulding],7.838,302.0,7.2,4965.0
183278,The Game Changers,tt7455754,"[From, the, UFC, Octagon, in, Las, Vegas, and,...",[Documentary],"[Rip_Esselstyn, Arnold_Schwarzenegger, Tia_Bla...",[Louie_Psihoyos],7.300,302.0,7.8,22296.0

In [8]:
df_ft['features'] = df_ft['overview']+ df_ft['director'] + df_ft['cast']+ df_ft['genres']

In [9]:
new_df = df_ft[['title', 'imdb_id']]
new_df['features'] = df_ft['features'].apply(lambda x : " ".join(x)).apply(lambda y : y.lower())

C:\Users\gusti\AppData\Local\Temp\ipykernel_14592\2826075666.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['features'] = df_ft['features'].apply(lambda x : " ".join(x)).apply(lambda y : y.lower())

In [10]:
new_df

,title,imdb_id,features
15024,Inception,tt1375666,"cobb, a skilled thief who commits corporate es..."
76969,Interstellar,tt0816692,the adventures of a group of explorers who mak...
113,The Dark Knight,tt0468569,batman raises the stakes in his war on crime. ...
11177,Avatar,tt0499549,"in the 22nd century, a paraplegic marine is di..."
124984,Deadpool,tt1431045,the origin story of former special forces oper...
...,...,...,...
71720,Silent Night,tt2347497,as their small midwestern town prepares for it...
2307,Shriek If You Know What I Did Last Friday the ...,tt0212235,"in this horror parody, a masked serial killer ..."
7585,The Master of Disguise,tt0295427,after the patriarch of the disguisey family is...
27346,Scooby-Doo! Camp Scare,tt1731767,scooby and the gang experience outdoor fun as ...
183278,The Game Changers,tt7455754,from the ufc octagon in las vegas and the anth...

In [11]:
new_df['features'][2307]

"in this horror parody, a masked serial killer menaces the town of bulimia falls with various sharp objects. attention-seeking television personality hagitha utslay is soon on the scene, reporting on the ever-growing body count. former mall security guard doughy shows up to protect the teenage population, but he's clearly not much help, allowing the murderer to pick off even more hapless kids as numerous scary movies are referenced. john_blanchard julie_benz mink_stole simon_rex khrystyne_haje chris_palermo coolio shirley_jones kim_greist david_herman aimee_graham rose_marie kristin_herold jimmie_walker tom_arnold harley_cross artie_lange michael_reisz alanna_ubach renÃ©e_graham tiffani_thiessen douglas_fisher gavin_grazer majandra_delfino steven_anthony_lawrence danny_strong comedy"

In [12]:
import nltk
from nltk.stem import PorterStemmer

In [13]:
ps = PorterStemmer()

In [14]:
def stems(text):
    L = list()
    for i in text.split():
        L.append(ps.stem(i))
    return " ".join(L)

In [15]:
new_df['features'] = new_df['features'].apply(stems)

C:\Users\gusti\AppData\Local\Temp\ipykernel_14592\1941827768.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['features'] = new_df['features'].apply(stems)

In [16]:
#Last step took a lot of time, so I'll save in another csv, and keep going from here tomorrow
new_df.to_csv('post_stems_data2.csv')
new_df = pd.read_csv('post_stems_data2.csv')

In [17]:
new_df

,Unnamed: 0,title,imdb_id,features
0,15024,Inception,tt1375666,"cobb, a skill thief who commit corpor espionag..."
1,76969,Interstellar,tt0816692,the adventur of a group of explor who make use...
2,113,The Dark Knight,tt0468569,batman rais the stake in hi war on crime. with...
3,11177,Avatar,tt0499549,"in the 22nd century, a parapleg marin is dispa..."
4,124984,Deadpool,tt1431045,the origin stori of former special forc oper t...
...,...,...,...,...
9995,71720,Silent Night,tt2347497,as their small midwestern town prepar for it a...
9996,2307,Shriek If You Know What I Did Last Friday the ...,tt0212235,"in thi horror parody, a mask serial killer men..."
9997,7585,The Master of Disguise,tt0295427,after the patriarch of the disguisey famili is...
9998,27346,Scooby-Doo! Camp Scare,tt1731767,scoobi and the gang experi outdoor fun as they...
9999,183278,The Game Changers,tt7455754,from the ufc octagon in la vega and the anthro...

In [18]:
from sklearn.feature_extraction.text import CountVectorizer
cv1 = CountVectorizer(max_features=100,stop_words='english')
cv2 = CountVectorizer(max_features=1000,stop_words='english')
cv3 = CountVectorizer(max_features=2500,stop_words='english')
cv4 = CountVectorizer(max_features=5000,stop_words='english')
cv5 = CountVectorizer(max_features=10000,stop_words='english')

In [19]:
vector1 = cv1.fit_transform(new_df['features']).toarray()
vector2 = cv2.fit_transform(new_df['features']).toarray()
vector3 = cv3.fit_transform(new_df['features']).toarray()
vector4 = cv4.fit_transform(new_df['features']).toarray()
vector5 = cv5.fit_transform(new_df['features']).toarray()

In [20]:
from sklearn.metrics.pairwise import cosine_similarity

In [21]:
similarity1 = cosine_similarity(vector1)
similarity2 = cosine_similarity(vector2)
similarity3 = cosine_similarity(vector5)
similarity4 = cosine_similarity(vector4)
similarity5 = cosine_similarity(vector5)

In [22]:
def recommend1(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity1[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

def recommend2(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity2[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

def recommend3(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity3[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)


def recommend4(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity4[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

def recommend5(movie):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity5[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].title)

In [23]:
recommend1('Spider-Man 2')

Master and Commander: The Far Side of the World
Journey 2: The Mysterious Island
Behaving Badly
Arctic
The Karate Kid Part II

In [24]:
recommend2('Spider-Man 2')

The Amazing Spider-Man
The Karate Kid Part II
Fullmetal Alchemist the Movie: Conqueror of Shamballa
Iron Man 2
The Bachelor

In [25]:
recommend3('Spider-Man 2') # Seems like this is a good number of features to consider a content-base filtering

Spider-Man 3
Spider-Man
The Amazing Spider-Man
Darkman
Fullmetal Alchemist the Movie: Conqueror of Shamballa

In [26]:
recommend4('Spider-Man 2')

Spider-Man 3
Spider-Man
The Amazing Spider-Man
Darkman
Fullmetal Alchemist the Movie: Conqueror of Shamballa

In [27]:
recommend5('Spider-Man 2')

Spider-Man 3
Spider-Man
The Amazing Spider-Man
Darkman
Fullmetal Alchemist the Movie: Conqueror of Shamballa

In [30]:
def recommender(movie, num_recom):
    index = new_df[new_df['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity3[index])),reverse=True,key = lambda x: x[1])
    j=0
    for i in distances[1:num_recom+1]:
        name = new_df.iloc[i[0]].title
        similarity = distances[1:num_recom+1][j][1]
        print(f'{name} with rate {round(similarity,3)} of 1')
        j+=1

In [31]:
recommender('The Empire Strikes Back',8)

Star Wars with rate 0.485 of 1
Return of the Jedi with rate 0.36 of 1
The Star Wars Holiday Special with rate 0.323 of 1
Star Wars: The Force Awakens with rate 0.239 of 1
Star Wars: The Rise of Skywalker with rate 0.183 of 1
Star Wars: Episode III - Revenge of the Sith with rate 0.176 of 1
Willow with rate 0.174 of 1
Star Wars: The Last Jedi with rate 0.17 of 1